.footer {
  width: 100%;
  background-color: var(--bg-dark);
  padding-block: 3em;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-head {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  gap: 40px;
}
.footer-head .logo-description {
  width: 30%;
  color: var(--text-gray);
}
.footer-head .info-section {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 16px;
}
.footer-head .info-section nav ul li a {
  color: var(--gray2);
}
.footer-head .siguenos .social {
  display: flex;
  gap: 16px;
}
.siguenos .social li {
  background-color: var(--secondary);
  border-radius: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.siguenos .social i {
  font-size: 24px;
  color: var(--white);
}
.logo-description {
  display: flex;
  flex-direction: column;
}
.logo-description .description-company {
  width: 254px;
}
h6[class="footer-titulo"] {
  font: var(--link-header);
  color: var(--text-gray);
  margin-block-end: 24px;
}

.footer-foot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--text-gray);
}
.footer-foot .made-for {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
  }
  .footer-foot {
    flex-direction: row;
  }
}
