.ButtonGoToAuthentication {
	display: flex;
	justify-content: space-evenly;
	gap: 1.5em;
	inline-size: 100vw;
}
.ButtonGoToAuthentication button {
	background: var(--secondary);
	border: none;
	padding: 8px 16px;
	font-size: 1em;
	font-weight: 700;
}
.ButtonGoToAuthentication button a {
	color: var(--white);
}
