<!DOCTYPE html>
<html lang="es">
  <%- include('../../Components/Head/Head') %>
  <body>
    <%- include('../../Components/Header/Header') %>
    <div class="Register wrapper">
      <%-
      include('../../Components/FormAuthenticationRegister/FormAuthenticationRegister')
      %>
    </div>
    <%- include('../../Components/Footer/Footer') %>
    <script defer src="/js/validateRegister.js"></script>
  </body>
</html>
