
:root {
	--bg-dark: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #080C24;
	--borderGradient: linear-gradient(105deg, rgb(241, 239, 239) 0%, rgb(150, 144, 144) 100%);
	--primaryColor: #A5A6F6;
	--white: #FFF;
	--gray10: #44495F;
	--gray20: #EAEAEA;
	--inputPlaceholder: #E78A00;
	--black: #000;
	--specialFont: 'Source Serif Pro', serif;
	--primaryFont:  'Roboto', sans-serif;
	font-family: var(--primaryFont);
	--bgGray: rgb(91, 91, 91);
	--bgGray2: #1d1d1d;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: var(--bg-dark);
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}
.wrapper {
	max-inline-size: 80em;
	margin: 0 auto;
	padding-inline: 1.5em;
}
