<article class="agreePoliticsContainer">
		<label for='declarationPolitics' class='textPolitics'>
			<input type="checkbox" class='' id='declarationPolitics'/>
			<span>
				Declaro que leí y acepto la <a href=""> Política de Privacidad y Tratamiento de Datos de WeCol</a>
			</span>
		</label>
		<label for='declarationPolitics' class='textPolitics'>
			<input type="checkbox" id='authorizationPolitics'/>
			<span>
				Autorizo el tratamiento de mis datos personales conforme a la<a href=""> Política de Tratamiento de Datos de WeCol</a>
			</span>
		</label>
</article>
