<!doctype html>
<html lang='es'>
    <%- include('../../Components/Head/Head') %>
<body class="Admin">
    <%- include('../../Components/AsideAdmin/AsideAdmin') %>
    <%# include('../../Components/UserLogged/UserLogged') %>
    <main class='Main'>

        <%- include('../../Components/MainContent/MainContent') %>
    </main>
</body>
</html>
