/*.headerNav {
	position: absolute;
	background-color: var(--bg-dark);
	right: 0;
	top: 100px;
	inline-size: 0;
	block-size: 100vh;
	padding-inline-start: 32px;
	overflow-x: hidden;
	opacity: 0;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	transition: opacity 0.25s ease-in-out, inline-size 0.25s, right 0s 0.25s;
}*/
.headerNav .menuItems {
	display: flex;
	justify-content: center;
	gap: 24px;
}
nav a {
	color: var(--white);
}
.active {
	inline-size: 80%;
	transition: opacity 0.25s ease-out, inline-size 0.25s;
	opacity: 1;
}
.submenuItem {
	cursor: pointer;
}
.submenuToggle {
	display: flex;
	flex-direction: column;
	border: 1px solid red;
	inline-size: 150px;
	position: relative;
}
.submenuItem:hover {
	background:#5b78a7;
}
.submenu {
	display: none;
	margin-block-start: 30px;
	inline-size: 100%;
	flex-direction: column;
	background: var(--bg-dark);
}
.submenuContainer{
	border: 1px solid red;
}
.headerNav ul .submenuToggle:hover > .submenu {
	display: flex;
	position: absolute;
}
@media screen and (min-width: 580px) {
	.headerNav {
		position: initial;
		inline-size: 100%;
		block-size: 100%;
		/* opacity: 1; */
		border-top: none;
		border-left: none;
		padding-inline-start: 0;
	}
	
}
