<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/js/header.js"></script>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Header</title>
  </head>
  <body>
    <header class="header">
      <section class="wrapper">
        <a href="/header" class="logo">
          <img src="/img/Logo.svg" alt="Wecol" title="Wecol" />
        </a>
        <nav class="nav" id="nav">
          <article class="login">
            <span> Te damos la Bienvenida</span>
            <div class="btn-log">
              <a href="/login">
                <button class="btn-small btn-login">Iniciar Sesión</button>
              </a>
              <a href="/register">
                <button class="btn-small btn-register">Registrarse</button>
              </a>
            </div>
          </article>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutUs">Quiénes Somos</a></li>
            <li><a href="/contact">Contáctanos</a></li>
          </ul>
        </nav>
        <article class="header-right">
          <button class="menu-toggle" id="menuToggle">
            <i class="fas fa-bars"></i>
          </button>
          <a href="/login" class="user">
            <i class="fas fa-user"></i>
          </a>
          <a href="/productCart">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </article>
      </section>
    </header>
    <main class="main about">
      <section class="descripcion wrapper">
        <h2 class="subtitulo">¿Quiénes somos?</h2>
        <p>
          We are here to provide a place special for electronic devices.
          Although we only operated for 2 years but we always provide the best
          service for customers and all the sellers who use our website. With
          the hope that it can help improve a better life using various
          electronic goods with the latest technology, we are all ears to any
          suggestion from our dear customers
        </p>
      </section>
      <section class="imagen-banner wrapper">
        <picture>
          <img src="/img/banner-1.png" alt="" />
        </picture>
      </section>
      <section class="our-team wrapper">
        <article class="descripcion">
          <h2 class="subtitulo">Nuestro Equipo</h2>
          <p>
            Somos estudiantes de desarrollo web FullStack en Digital House y con
            el apoyo de Protalento.
          </p>
        </article>
        <article class="our-team-cards">
          <article class="card-employee">
            <picture>
              <img
                src="/img/Jennifer.png"
                class="card-head"
                alt="Jennifer Perez Romero"
                title="Jennifer Perez Romero"
              />
            </picture>
            <div class="card-foot">
              <span class="name">Jennifer Pérez Romero</span>
              <span class="job-title"
                >Desarrolladora FullStack & Legal Counsel</span
              >
            </div>
          </article>
        </article>
      </section>
    </main>
    <script
      src="https://kit.fontawesome.com/0b3eb0d831.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
