<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script defer src="/js/header.js"></script>
  <script defer src="https://kit.fontawesome.com/0b3eb0d831.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
  <link rel="stylesheet" href="/css/index.css" />
  <title>Factura</title>
</head>

<body>
  <header class="header ">
    <section class="wrapper">
      <a href="/header" class="logo">
        <img src="/img/Logo.svg" alt="Wecol" title="Wecol" />
      </a>
      <nav class="nav" id="nav">
        <article class="login">
          <span> Te damos la Bienvenida</span>
          <div class="btn-log">
            <a href="/login">
              <button class="btn-small btn-login">Iniciar Sesión</button>
            </a>
            <a href="/register">
              <button class="btn-small btn-register">Registrarse</button>
            </a>
          </div>
        </article>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/aboutUs">Quiénes Somos</a></li>
          <li><a href="/contact">Contáctanos</a></li>
        </ul>
      </nav>
      <article class="header-right">
        <button class="menu-toggle" id="menuToggle">
          <i class="fas fa-bars"></i>
        </button>
        <a href="/login" class="user">
          <i class="fas fa-user"></i>
        </a>
        <a href="/productCart">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </article>
    </section>
  </header>
  <!--Contenedor Global-->
  <main class="padre wrapper">
    <section class="sectionFormulario">

        <h3>Informacion Personal <i class="fas fa-chevron-down" id="desplegar"></i></h3>
        <!--Contenedor informacion perosnal-->
        <div class="informacionPersonal">
          <form action="">
            <div class="blockNombre">
              <label for="nombre">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
              </label>
              <label for="apellido">
                <input type="text" name="apellido" id="apellido" placeholder="Apellido">
              </label>
            </div>
            <div class="blockNombre">
              <label for="celular">
                <input type="tel" name="celular" id="celular" placeholder="Celular">
              </label>
              <label for="Correo">
                <input type="email" name="Correo" id="Correo" placeholder="Correo">
              </label>
            </div>
            <div class="blockNombre">
              <label for="Identificacion ">
                <input type="number" name="identificacion" id="Identificacion" placeholder="Identificación">
              </label>

              <label for="tipo">
                <input type="text" name="Tipo" id="tipo" placeholder="Tipo de Identificación">
              </label>
            </div>

            <h3>Direccion <i class="fas fa-chevron-down" id="desplegar"></i></h3>

            <div class="recordatorio">
              <p>Recuerda seleccionar la dirección de envío y facturación a la que deseas enviar tu
                orden.
                * Esta dirección se verá reflejada en el resumen de tu pedido. *</p>
            </div>


            <div class="agregarDir">
              <div>
                <p class="agregar"> + Agregar una Dirección</p>
              </div>
              <label for="etiqueta">
                <input type="text" name="etiqueta" id="etiqueta" placeholder="Etiqueta para la direccion">
              </label>
            </div>

            <!--Contenedor direccion personal-->




              <div class="blockNombre">
                <label for="nombre">
                  <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                </label>

                <label for="apellido">
                  <input type="text" name="apellido" id="apellido" placeholder="Apellido">
                </label>
              </div>

              <div class="blockNombre">
                <label for="TelefonoCel">
                  <input type="tel" name="TelefonoCel" id="TelefonoCel" placeholder="Teléfono Celular">
                </label>

                <label for="TelefonoFi">
                  <input type="tel" name="TelefonoFi" id="TelefonoFi" placeholder="Teléfono Fijo">
                </label>
              </div>

              <div class="blockNombre">
                <label for="dirección">
                  <input type="tex" name="direccion" id="direccion" placeholder="Dirección">
                </label>

                <label for="Direccion1">
                  <input type="text" name="direccion1" id="Direccion1" placeholder="Barrio/Piso/Oficina/Apto">
                </label>
              </div>

              <div class="blockNombre">
                <label for="CodigoP ">
                  <input type="number" name="codigoP" id="CodigoP" placeholder="Código Postal">
                </label>

                <label for="Pais">
                  <input type="text" name="pais" id="Pais" placeholder="País">
                </label>
              </div>
              <div class="blockNombre">
                <label for="Departamento">
                  <input type="text" name="Departamento" id="Departamento" placeholder="Departamento">
                </label>
                <label for="Ciudad">
                  <input type="text" name="Ciudad" id="Ciudad" placeholder="Ciudad">
                </label>
              </div>
          </form>
        </div>
        <div class="botonGuardar">
          <button value="submit" class="direction">Guardar Dirección</button>
        </div>
    </section>
    <!--segunada seccion-->
    <section class="productosApagar">
      <div class="resumen">
        <h3>Resumen de compra <i class="fas fa-chevron-down fa-lg" id="desplegar1"></i></h3>
        <div class="articulos">
          <div class="art1">
            <h4>x1 USB Speaker Portable</h4>
            <p>$100.00</p>
          </div>
          <div class="art1">
            <h4>x1 Joystick Pro</h4>
            <p>$100.00</p>
          </div>
          <div class="art1">
            <h4>x1 Smarphone 5G</h4>
            <p>$100.00</p>
          </div>
        </div>
        <p class="verificacion">Tus paquetes pueden llegar en envíos diferentes. VERIFICA TU DIRECCIÓN DE ENVÍO. Una vez
          la compra es
          finalizada,
          los cambios dependerán de la disponibilidad de la transportadora.</p>
        <div class="totalpago">
          <p>Total</p>
          <p>$300.00</p>
        </div>
        <div class="boton2">
          <button value="submit">Continar con la Compra</button>
        </div>

        <p class="pago">Forma de pago aceptadas</p>
        <div class="iconos">
          <i class="fab fa-cc-visa"></i>
          <i class="fab fa-cc-mastercard"></i>
          <i class="fab fa-cc-amex"></i>
          <i class="fab fa-cc-paypal"></i>
        </div>
      </div>
    </section>
  </main>

  <footer class="footer">
    <section class="wrapper">
      <article class="footer-head">
        <section class="logo-description">
          <a href="/" class="logo">
            <img src="/img/logo.svg" alt="wecol" title="wecol" />
          </a>
          <span class="description-company">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor.
          </span>
        </section>
        <section class="info-section">
          <section class="company">
            <h6 class="footer-titulo">Empresa</h6>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/quienesSomos">Quiénes Somos</a></li>
                <li><a href="contactenos">Contáctenos</a></li>
              </ul>
            </nav>
          </section>
          <section class="info">
            <h6 class="footer-titulo">Información</h6>
            <nav>
              <ul>
                <li><a href="">Métodos de pago</a></li>
                <li><a href="">Política de Privacidad</a></li>
              </ul>
            </nav>
          </section>
          <section class="siguenos">
            <h6 class="footer-titulo">Siguenos</h6>
            <ul class="social">
              <li><a href="#"><i class="fab fa-instagram"></a></i></li>
              <li><a href="#"><i class="fab fa-twitter"></a></i></li>
              <li><a href="#"><i class="fab fa-facebook-square"></a></i></li>
            </ul>
          </section>
        </section>
      </article>
      <article class="footer-foot">
        <div class="made-for">
          Hecho con ❤️ por Checho, Jenni, Luis, Juli y Jhon
        </div>
        <div class="copyright">
          Colombia 2022 - Todos los derechos reservados
        </div>
      </article>
    </section>
  </footer>
</body>
</html>

