<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/js/header.js"></script>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Inicio</title>
  </head>
  <body>
    <header class="header">
      <section class="wrapper">
        <a href="/header" class="logo">
          <img src="/img/Logo.svg" alt="Wecol" title="Wecol" />
        </a>
        <nav class="nav" id="nav">
          <article class="login">
            <span> Te damos la Bienvenida</span>
            <div class="btn-log">
              <a href="/login">
                <button class="btn-small btn-login">Iniciar Sesión</button>
              </a>
              <a href="/register">
                <button class="btn-small btn-register">Registrarse</button>
              </a>
            </div>
          </article>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/aboutUs">Quiénes Somos</a></li>
            <li><a href="/contact">Contáctanos</a></li>
          </ul>
        </nav>
        <article class="header-right">
          <button class="menu-toggle" id="menuToggle">
            <i class="fas fa-bars"></i>
          </button>
          <a href="/login" class="user">
            <i class="fas fa-user"></i>
          </a>
          <a href="/productCart">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </article>
      </section>
    </header>
    <main class="main">
      <section class="hero">
        <div class="hero-content">
          <img src="/img/mouse-logitech.png" alt="Banner" title="Banner" />
          <div class="hero-product">
            <h2 class="titulo white">Logitech Mx Master 3</h2>
            <button class="btn btn-add">
              <span>Añadir al carrito</span>
              <a href="/productCart">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </button>
          </div>
        </div>
      </section>
      <section class="hero-recommended wrapper">
        <div class="recommended-content">
          <article class="left-img">
            <picture>
              <img src="/img/mouse.png" alt="" />
            </picture>
          </article>
          <article class="right-img">
            <picture class="img-top">
              <img src="/img/headphone.png" alt="Headphone" title="Headphone" />
            </picture>
            <picture class="img-bottom">
              <img
                src="/img/marshall.png"
                alt="Marshall Speaker"
                title="Marshall Speaker"
              />
            </picture>
          </article>
        </div>
      </section>
      <section class="categories wrapper">
        <h3 class="subtituloH3 orange">
          <span>Ver todas las categorías</span>
          <i class="fas fa-chevron-right"></i>
        </h3>
        <article class="categories-card">
          <div class="categorie">
            <i class="fas fa-mouse"></i>
            <span>Mouse</span>
          </div>
          <div class="categorie">
            <i class="fas fa-keyboard"></i>
            <span>Teclados</span>
          </div>
          <div class="categorie">
            <i class="fas fa-headphones-alt"></i>
            <span>Audifonos</span>
          </div>
          <div class="categorie">
            <i class="fas fa-clock"></i>
            <span>Relojes</span>
          </div>
          <div class="categorie">
            <i class="fab fa-autoprefixer"></i>
            <span>Accesorios</span>
          </div>
          <div class="categorie">
            <i class="fas fa-laptop"></i>
            <span>Portátiles</span>
          </div>
          <div class="categorie">
            <i class="fas fa-mobile"></i>
            <span>Celulares</span>
          </div>
        </article>
      </section>
      <section class="ofers wrapper">
        <h2 class="subtituloH2 gray">Productos en Oferta</h2>
        <article class="ofers-cards">
          <div class="card-off">
            <picture class="card-img">
              <img src="/img/earphone.png" alt="earphone" title="earphone" />
            </picture>
            <div class="card-off-description">
              <span class="product-name">AirPods</span>
              <span class="product-price">
                <div class="real-price">$2.650.000</div>
                <i>-</i>
                <div class="current-price">$1.897.500</div>
              </span>
              <div class="available">
                <span class="available-quantity">
                  <p>Disponibles: 5</p>
                  <p>Vendidos: 2</p>
                </span>
                <button class="progress-quantity"></button>
              </div>
            </div>
          </div>
        </article>
      </section>
      <section class="new wrapper"></section>
      <section class="brands wrapper"></section>
      <section class="newsLater wrapper"></section>
    </main>
    <footer class="footer"></footer>
    <script
      src="https://kit.fontawesome.com/0b3eb0d831.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
