.categories {
  background-color: rgb(122, 95, 100);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  /* height: calc(100vh - 100px); */
}

.categories-card {
  display: flex;
  gap: 56px;
  overflow-x: hidden;
  border: 1px solid red;
  align-items: center;
}
.categories-card .categorie {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
}

.categories-card .categorie i {
  font-size: 8rem;
}
.categories-card .categorie span {
  font-size: 2rem;
}

.categories-card .arrowRight {
  font-size: 5rem;
}
