.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.form-label10 {
  position: relative;
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
}
.form-label10 input {
  line-height: 32px;
  padding-inline: 8px;
  border: none;
  outline: none;
  width: 100%;
  font: var(--parrafo);
  background: none;
  color: var(--white);
  padding-inline: 8px 48px;
}
.form-label10 input::placeholder {
  font: var(--parrafo);
  color: var(--placeholder);
}

#rememberUser{
  color: var(--placeholder);
  font: var(--parrafo);
}

.form-label10 i {
  position: absolute;
  right: 0;
  color: var(--placeholder);
  font-size: 24px;
  margin-block-end: 8px;
}
.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footForm {
  color: var(--placeholder);
  font: var(--parrafo);
  text-align: center;
  margin-block-start: 24px;
}
.footForm a {
  text-decoration: underline;
  color: var(--placeholder);
}
