.header {
  background: var(--bg-dark);
  min-inline-size: 100vw;
  font-weight: 700;
  font-family: var(--link-header);
  block-size: 100px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  position: absolute;
  background-color: var(--bg-dark);
  right: 0;
  top: 100px;
  inline-size: 0;
  block-size: 100vh;
  padding-inline-start: 32px;
  overflow-x: hidden;
  opacity: 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  transition: opacity 0.25s ease-in-out, inline-size 0.25s, right 0s 0.25s;
}
.nav ul {
  border-top: 1px solid #fff;
  margin-block-start: 40px;
  padding-block-start: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
nav a {
  color: var(--white);
}
.active {
  inline-size: 80%;
  transition: opacity 0.25s ease-out, inline-size 0.25s;
  opacity: 1;
}
.login {
  color: var(--white);
  margin-block-start: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.login i {
  font-size: 24px;
}
.header .fa-shopping-cart {
  color: var(--secondary);
  font-size: 1.5rem;
}
.header-right {
  display: flex;
  gap: 8px;
}
.header-right .menu-toggle {
  border: none;
  background: none;
}
.menu-toggle i {
  color: var(--white);
  font-size: 1.5rem;
}
.user {
  display: none;
}
@media screen and (min-width: 580px) {
  .user {
    display: block;
    font-size: 24px;
    color: var(--white);
  }
  .menu-toggle {
    display: none;
  }
  .nav {
    position: initial;
    inline-size: 100%;
    block-size: 100%;
    opacity: 1;
    border-top: none;
    border-left: none;
    padding-inline-start: 0;
  }
  .nav ul {
    flex-direction: row;
    justify-content: center;
    border-top: none;
    margin-block-start: 0;
    padding-block-start: 0;
  }
  .login {
    display: none;
  }
}
