/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Reset */
@import "./reset.css";

/* Secciones */
@import './components/header/header.css';
@import "./hero.css";
@import "./main.css";
@import "./hero-recommended.css";
@import "./categories.css";
@import "./ofers.css";
@import "./new.css";
@import "./brands.css";
@import "./newsLater.css";
@import "./aboutUs.css";
@import "./productDetail.css";
@import "./footer.css";
@import "./productDetail.css";
@import "./productDet.css";
@import "./productCart.css";
@import "./privacyPolitics.css";
@import "./agreePolitics.css";
@import "./login.css";
@import "./register.css";
@import "./paymentRequest.css";
@import "./contact.css";
@import "./create.css";

/* Forms */
@import './forms/index.css';

/* Buttons */
@import './buttons/index.css';

/* Components */
@import "./components/borders.css";
@import "./components/wrapper.css";
@import "./components/card.css";
@import "./components/button.css";
@import "./components/sliderDetail.css";
@import "./components/productDetailHero.css";
@import "./components/quantity.css";

/* Admin */
@import "./admin/modalCreateProduct.css";
@import "./admin/allProductStock.css";
@import "./admin/adminListStock.css";
@import "./admin/adminCreate.css";
@import "./admin/adminProducts.css";
@import "./admin/adminCardProduct.css";
@import "./admin/adminFilterSearch.css";
@import "./admin/adminProductMain.css";
@import "./admin/adminSearch.css";
@import './admin/admin_productsContainer.css';

/* Partials */
@import "./partials/btn_adminCreateProduct.css";

:root {
  /* Colores */
  --bg-dark2: #323945;
  /* --bg-dark: radial-gradient(circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgb(10, 7, 35) 97.5%); */
  --bg-dark: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #080C24;;
  --white: #FFF;
  --icon-color: var(--white);
  /* --secondary: rgb(231, 138, 0); */
  --secondary: conic-gradient(from 103.1deg at 50% 50%, #E97DD8 -50.2deg, #3A1C71 121.03deg, #E97DD8 309.8deg, #3A1C71 481.03deg);
  --placeholder: rgba(231, 138, 0, 0.3);
  --text-gray: rgb(91, 91, 91);
  --text-gray-opacity: rgba(91, 91, 91, 0.5);
  --gray2: #383838;
  --blue-admin-i: #0832de;

  /* Tipografías */
  --primaryFont: "Roboto";
  --secondFont: "Source Serif Pro";
  --link-header: bold 16px/24px var(--secondFont);
  --tituloH1Small: bold 24px/32px var(--secondFont);
  --tituloH1Bigger: bold 48px/56px var(--secondFont);
  --subtituloH2: bold 40px/48px var(--secondFont);
  --subtituloH2Small: bold 32px/40px var(--secondFont);
  --subtituloH3: bold 24px/32px var(--secondFont);
  --subtituloH3Small: bold 16px/24px var(--secondFont);
  --parrafo: 16px/24px var(--primaryFont);
  --small-paragraph: 16px/24px var(--primaryFont);
  --span1: 12px/16px var(--primaryFont);
  --punctuation: bold 24px/32px var(--primaryFont);
  --stockNumber: 64px/72px var(--primaryFont);

  /* Botones */
  --btn-small: bold 12px/16px var(--primaryFont);
  
  /* Input */
  --inputText: 16px/24px var(--secondFont);
}
body {
  background: var(--bg-dark);
}
.titulo {
  font: var(--tituloH1Small);
}
.subtituloH2 {
  font: var(--subtituloH2);
}
.subtituloH2Small {
  font: var(--subtituloH2Small);
}

.subtituloH3 {
  font: var(--subtituloH3);
}

.white {
  color: var(--white);
}
.orange {
  color: var(--secondary);
}
.gray {
  color: var(--text-gray);
}
.placeholder {
  color: var(--placeholder);
}
.gap16 {
  gap: 16px;
}
.gap24 {
  gap: 24px;
}
.gap32 {
  gap: 32px;
}
.name-product {
  color: var(--text-gray);
  font: var(--parrafo);
}
.price-product {
  font: var(--subtituloH3);
  color: var(--secondary);
}
.rate {
  display: flex;
  align-items: center;
  gap: 8px;
}
.rate .punctuationRate {
  color: var(--text-gray);
  font: var(--punctuation);
}
.rate .starRate {
  display: flex;
  align-items: center;
}
.span1 {
  font: var(--span1);
  color: var(--text-gray);
}
@media (min-width: 768px) {
  .titulo {
    font: var(--tituloH1Bigger);
  }
}
