/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Reset */
@import "./reset.css";

/* Secciones */
@import "./header.css";
@import "./hero.css";
@import "./main.css";
@import "./hero-recommended.css";
@import "./categories.css";
@import "./ofers.css";
@import "./new.css";
@import "./brands.css";
@import "./newsLater.css";
@import "./aboutUs.css";

/* Components */
@import "./components/wrapper.css";
@import "./components/card.css";
@import "./components/button.css";

:root {
  /* Colores */
  --bg-dark: #0f0e0e;
  --white: #fff;
  --secondary: rgb(231, 138, 0);
  --placeholder: rgba(231, 138, 0, 0.5);
  --text-gray: #5b5b5b;

  /* Tipografías */
  --primaryFont: "Roboto";
  --secondFont: "Source Serif Pro";
  --link-header: var(--secondFont);
  --tituloH1Small: bold 24px/32px var(--secondFont);
  --tituloH1Bigger: bold 48px/56px var(--secondFont);
  --subtituloH2: bold 40px/48px var(--secondFont);
  --subtituloH3: bold 24px/32px var(--secondFont);
  --small-paragraph: 16px/24px var(--primaryFont);
  --litte-small-paragraph: 12px/16px var(--primaryFont);

  /* Botones */
  --btn-small: bold 16px/24px "Roboto";
}
body {
  background-color: var(--bg-dark);
}
.titulo {
  font: var(--tituloH1Small);
}
.subtituloH2 {
  font: var(--subtituloH2);
}
.subtituloH3 {
  font: var(--subtituloH3);
}

.white {
  color: var(--white);
}
.orange {
  color: var(--secondary);
}
.gray {
  color: var(--text-gray);
}
@media (min-width: 768px) {
  .titulo {
    font: var(--tituloH1Bigger);
  }
}
