/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;700&display=swap");

/* Reset */
@import "./reset.css";

/* Secciones */
@import "./header.css";
@import "./hero.css";
@import "./main.css";
@import "./recommendationsMain.css";
@import "./categories.css";
@import "./ofers.css";
@import "./new.css";
@import "./brands.css";
@import "./newsLater.css";

/* Components */
@import "./components/wrapper.css";
@import "./components/card.css";
@import "./components/button.css";

:root {
  /* Colores */
  --bg-dark: #0f0e0e;
  --white: #fff;
  --secondary: #e78a00;

  /* Tipografías */
  --link-header: "Source Serif Pro";
  --subtituloH2: "Source Serif Pro" 40px bold;
}
body {
  background-color: var(--bg-dark);
}
