.new {
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.nuevo-filtro {
  display: flex;
  justify-content: space-between;
  color: var(--secondary);
  font: var(--subtituloH3);
}
.cards-new {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-new .card {
  padding-block: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border: 1px solid var(--text-gray);
  border-radius: 32px;
}
.cards-new .card picture {
  width: 250px;
}
.cards-new .card picture > img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 32px;
}
.cards-new .card .card-description {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
  width: 250px;
  gap: 16px;
}
.cards-new .card .card-description .name-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-new .card .card-description .name-product {
  color: var(--text-gray);
  font: var(--parrafo);
}
.cards-new .card .card-description .price-product {
  font: var(--subtituloH3);
  color: var(--secondary);
}
.cards-new .card .card-description hr {
  width: 100%;
  border: 1px solid #fff;
}
.cards-new .card .card-description .rate {
  margin-block-end: 8px;
}
.rate {
  display: flex;
  align-items: center;
  gap: 24px;
}
.rate .punctuation {
  color: var(--text-gray);
  font: var(--punctuation);
}
.rate .star-score {
  display: flex;
  color: var(--stars-color);
}
