
.productCart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.productList{
width: 50%;
}

.detailProductCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid red 1px;
}
.detailProductCard i{
    color: var(--secondary);
}
.productOption{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.productOption picture{
    width: 200px;
    
}
.productOption picture img{
    width: 100%;
}
.nombrePrecio h3{
    font: var(--small-paragraph);
    color: var(--text-gray);
}
.nombrePrecio p{
    color: var(--secondary);
    font: var(--subtituloH3Small);
}
.summaryOfPurchase{
    max-width: 420px;
}
@media(min-width:768px){
   
.productCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

} 
}