.Contenedor{
    margin: 24px;
}
.Contenedor h3{
    font: var(--subtituloH3);
    color:var( --secondary);
}
.Contenedor p{
    color: var(--white);
}
.Contenedor button {
    color: var(--secondary);
    background-color: var(--bg-dark);
    border: solid 1px var(--secondary);
    border-radius: 8px;
    padding: 10px;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}
.Contenedor button:hover{
    background-color: var(--secondary);
    color: var(--white);
    
}
.Contenedor .agregar{
    font-size: var(--litte-small-paragraph);
    color: var(--white);
    background-color: var(--secondary);
}
.agregarDir{
    width: 40%;
}
/**/
.Contenedor .sugerido{
    font:var(--litte-small-paragraph);
    padding-left: 45px;
    padding-bottom: 20px;
    padding-right: 5px;
    padding-top: 10px;
}

/*Primera Seccion*/
/*Informacion personala*/
.infoPersonal{
margin-top: 10px;
margin-bottom:10px;
}
.infoPersonal label input{
    color: var(--secondary);
    background-color: var(--bg-dark);
    border-radius:8px ;
    padding: 8px 4px;
    margin-bottom: 8px;
    opacity: 0.6;
}
.infoPersonal  input::placeholder{
    color: var(--secondary);
}

/*informacion Direccion*/
.Direccion{
    margin-top: 10px;
    
}
.Direccion label input{
    color: var(--secondary);
    background-color: var(--bg-dark);
    border-radius:8px ;
    margin-bottom: 8px;
    padding: 8px 4px;
    opacity: 0.6;
}
.Direccion  input::placeholder{
    color: var(--secondary);
}




/*segunda seccion*/
.resumen{
    padding: 20px;
    margin: 24px;
    background-color:var(--white);
    color: var(--bg-dark);
}
.resumen h3{
    font:var(--subtituloH3);
}
.resumen button {
    color: var(--secondary);
    background-color: var(--white);
    border: solid 2px var(--secondary);
    border-radius: 8px;
    padding: 10px 20px;
    transition-property: background-color, color;
    transition-duration: 0.5s;
}
.resumen button:hover{
    background-color: var(--secondary);
    color: var(--white);
    
}
.boton{
    display: flex;
    justify-content: center;
    margin-bottom:20px;
}
.articulos{
    border-top: solid 1px var(--bg-dark);
    border-bottom: solid 2px var(--bg-dark) ;  
    display: flex;
    flex-direction: column;
}
.art1{
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.resumen .verificacion{
    color: var(--secondary);
    font: var(--litte-small-paragraph);
    padding-top: 20px;
    padding-bottom: 20px;
}
.totalpago{
    display: flex;
    justify-content: space-between;
    font:var(--small-paragraph) ;
    margin-bottom: 20px;
}
.pago{
    text-align: center;
}
.iconos{
    width: 100%;
    display: flex;
    justify-content: center;  
}
.resumen i{
    font-size:35px; 
    padding: 8px;
}


/*Version Mobil*/
@media (max-width:580px){
    .Contenedor h3{
        text-align: center;
    }
    .Contenedor .sugerido{
        padding:10px 20px;
        text-align:left;
    }
    .agregarDir{
        width:100%;
        display: flex;
        justify-content: center;
    }
    .agregarDir .agregar{
        box-shadow: 3px 3px 1px white ;
    }
    label{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .infoPersonal label input{
        padding: 10px 35px;
        
    }
    .Direccion label input{
        padding: 10px 35px;
    }
    .Contenedor .boton2{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
}


@media (min-width:581px){
    .padre{
        width: 100%;
        display: flex;
    }
    form{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .sugerido1{
        width: 40%;
        font:var(--litte-small-paragraph);
        ;
        padding:0px;
    }
    .agregarDir{
        width:38%;
        display: flex;
        justify-content:flex-start;
    }
    .agregarDir .agregar{
        box-shadow: 3px 3px 1px white ;
    }
    .blockNombre{
    display: flex;
    justify-content: space-around;
    }
    .Contenedor{
        margin-left: 20px;
    }
    .sugerido1{
        width: 30em;
    }
    .agregarDir{
        width:25em;
        display: flex;
        justify-content:flex-start;
        padding-left: 5px;
    }
    .agregarDir .agregar{
        box-shadow: 3px 3px 1px white ;
    }
    .infoPersonal label input{
        padding: 10px 40px;
        margin-bottom: 10px;
    }
    .Direccion label input{
        padding: 10px 40px;
        margin-bottom: 10px;
    }
    label{
        margin: 5px;
    }
    .Contenedor .sugerido{
        font:var(--litte-small-paragraph);
        padding-left: 30px;
        padding-bottom: 20px;
        padding-right: 5px;
        padding-top: 10px;
    }
    .Contenedor .boton2{
        display: flex;
        justify-content: flex-start;
        margin-left: 5px;
    }

}