@import './components/sectionsForm.css';
@import './politics/agreePoliticsContainer.css';

.register-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-inline-size: 700px;
  margin-block: 40px;
}
@media (min-width: 768px) {
  .register-content {
    justify-content: space-evenly;
  }
}
