.allProductStock {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  width: 830px;
  align-items: center;
  height: 140px;
}
.verticalLine {
  width: 2px;
  background-color: var(--secondary);
  height: 100%;
  max-height: 124px;
}
.allProductStock div p {
  /* font-size: 64px; */
  font: var(--stockNumber);
}
.allProductStock div span {
  font: var(--span1);
  color: var(--secondary);
  text-align: center;
  display: block;
}
