.btn-small {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
}
.btn {
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--secondary);
  font: var(--btn-small);
}
.btn-add i {
  color: var(--white);
}
.btn-add-cart {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  color: var(--white);
  font: var(--btn-small);
  border: none;
  border-radius: 4px;
}
.btn-add-cart i {
  color: var(--white);
}
.form-login .btn-login {
  border: 1px solid var(--secondary);
  background: none;
  font: var(--punctuation);
  font-size: 16px;
  color: var(--secondary);
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
}
.form-login .btn-register {
  border: 1px solid var(--secondary);
  background: none;
  font: var(--punctuation);
  font-size: 16px;
  color: var(--secondary);
  padding: 8px 24px;
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 16px 24px;
  }
  .form-login .btn-login {
    font-size: 16px;
  }
}

.btn-login {
  background-color: var(--secondary);
  color: var(--white);
  font-weight: 700;
}
.btn-register {
  border: 1px solid var(--secondary);
  color: var(--secondary);
  font-weight: 700;
}
