.cards-new {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.cards-new .card {
  padding-block: 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border: 1px solid var(--text-gray);
  border-radius: 32px;
}
.cards-new .card picture {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
}
.cards-new .card picture > img {
  width: 100%;
}
.cards-new .card .card-description {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  width: 250px;
  gap: 16px;
}
.cards-new .card .card-description .name-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-new .card .card-description .name-product {
  color: var(--text-gray);
  font: var(--parrafo);
}
.cards-new .card .card-description .price-product {
  font: var(--subtituloH3);
  color: var(--secondary);
}
.cards-new .card .card-description hr {
  width: 100%;
  border: 1px solid #fff;
}
.cards-new .card .card-description .rate {
  margin-block-end: 8px;
}
