:root {
	--sectionFormText: bold 16px/24px var(--secondFont);
}
.sections-form{
	font: var(--sectionFormText);
	text-transform: uppercase;
	inline-size: 100%;
	display: flex;
	justify-content: space-evenly;
}
.sections-form a {
	color: var(--white);
	position: relative;
}
.sections-form a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	inline-size: 100%;
	block-size: 4px;
	background-color: var(--secondary);
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}
.sections-form a:hover::after,
.sections-form a:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.2em, 0);
}
