.main-login {
  height: 100%;
  display: flex;
  justify-content: center;
}
.main-login picture {
  display: none;
  width: 400px;
}
.main-login picture img {
  width: 100%;
}

.label-err-log{
  background-color: rgb(206, 54, 54);
  color: white; 
  padding: 5px 10%;
  border-radius: 8px;
  font-family: var(--primaryFont);
}
.err{
  background-color: rgb(202, 65, 65);
  color: aliceblue;
  font-family: var(--primaryFont);
  padding: 10px 20px;
  border-radius: 8px;
  border-color: azure;
}

@media screen and (min-width: 768px) {
  .main-login {
    justify-content: space-between;
  }
  .form-login {
    width: 50%;
  }
  .main-login picture {
    display: block;
  }
}
