.AddToCartButton {
	background-color: var(--secondary10);
	border: none;
	border-radius: 0.3em;
	padding: 0.8em;
	text-align: center;
	inline-size: 112px;
	transition: box-shadow .3s ease-in-out,
	transform .3s ease-in-out;
	color: var(--white);
	font-size: 0.8em;
	font-weight: bold;
}

.AddToCartButton:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	transform: translateY(-2px);
}
