.AddToCartButton {
	border: none;
	border-radius: 0.3em;
	text-align: center;
	transition: box-shadow .3s ease-in-out,
	transform .3s ease-in-out;
	font-size: 0.8em;
	font-weight: bold;
	background: var(--secondary10);
	padding: 8px;
	cursor: pointer;
}
.AddToCartButton i {
	font-size: 2em;
	color: var(--white);
}
.AddToCartButton:hover {
	box-shadow: 0 5px 10px rgba(0,0,0,.3);
	transform: translateY(-2px);
}
