:root{
	--placeholderText: bold 16px/24px var(--secondFont);
	--icons: rgba(231, 138, 0, 0.7);
}
.form_container {
	max-inline-size: 500px;
	border: 1px solid rebeccapurple;
}
.form_container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-content {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	inline-size: 100%;
}