.form_container {
	max-inline-size: 1280px;
	margin: auto;
	padding: 88px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}
.form_container form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form-content {
	display: grid;
	gap: 24px;
}
.form-content.registerForm {
	grid-template-columns: repeat(1, 1fr);
}
.form-content.loginForm {
	grid-template-columns: repeat(1, 1fr);
}
.form-label {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.form-label .formTitleLabel{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
}
.form-label .formTitleLabel span{
	color: var(--white);
	font: var(--inputText);
}
.form-label .formTitleLabel i {
	color: var(--icon-color);
	font-size: 16px;
}
.form-label input:not(input[type="file"]){
	padding: 8px;
	border: none;
	font: var(--inputText);
	color: var(--bg-dark);
}
.form-label input[type='file'] {
	padding: 8px;
	border: none;
	background: var(--white);
	cursor: pointer;
}
.form-label input::placeholder {
	font: var(--inputText);
	color: var(--placeholder);
	padding-inline: 4px;
}
/*.form-label input:focus {
	outline: 2px solid var(--placeholder);
}
.errorMessage {
	inline-size: 100%;
	text-align: right;
}*/

@media screen and (min-width: 768px) {
	.form-content.registerForm {
		grid-template-columns: repeat(2, 1fr);
	}
}
