<article class="userLogged">
  <picture class="userLogged_img">
    <img src="./Profile-users/<%= locals.userLogged.avatar %>" alt="" />
  </picture>
  <div class="userLogged_fullName">
    <div id="profileOptions">
      <span>
        <%=locals.userLogged.firstname %> <%=locals.userLogged.lastname%>
      </span>
      <i class="fa-solid fa-angle-right" id="submenuItem_icon"></i>
    </div>
    <ul id="profileDetails" class="profileDetails">
      <li><a href="/profileDetails">Perfil</a></li>
      <li><a href="/logout">Cerrar Sesión</a></li>
    </ul>
  </div>
</article>
<script defer src="/js/headerU/userLogged.js"></script>
