<main class="Main">
    <section class='HomeContent wrapper'>
        <section class="HeroHome">
            <div class="HeroHomeContent">
                <article class='HeroText'>
                    <span>
                        Realice una compra fácil con
                    </span>
                    <picture>
                        <img src='/img/brands/PSE.svg' alt='PSE Logo' title='PSE Logo'>
                    </picture>
                </article>
                <picture class='HeroPicture'>
                    <img src='/img/products/glasesVR.png' alt='VR Glases' title='VR Glases'>
                </picture>
            </div>
        </section>
        <%- include('../ProductsSectionHome/ProductsSectionHome')%>
    </section>
</main>
