<main class="Main">
  <section class="HomeContent wrapper">
    <section class="HeroHome">
      <picture class="HeroPicture">
        <img
          src="/img/products/portatilBanner.jpeg"
          alt="VR Glases"
          title="VR Glases"
        />
      </picture>
      <div class="HeroHomeContent">
        <div class="HeroHomeContentInfo">
          <span>Los mejores dispositivos</span>
          <span>Compre fácil y seguro con</span>
          <picture>
            <img src="/img/brands/PSE.svg" alt="PSE Logo" title="PSE Logo" />
          </picture>
        </div>
      </div>
    </section>
    <%- include('../BrandsContent/BrandsContent')%> <%-
    include('../ProductsSectionHome/ProductsSectionHome')%>
    <a href="/product/cart">Carrito!</a>
  </section>
</main>
