<!doctype html>
<html lang='es'>
	<%-include('../../Components/Head/Head')%>
	<body class="Admin">
			<%- include('../../Components/AsideAdmin/AsideAdmin') %>
			<div class='UserLoggedContent'>
				<%- include('../../Components/UserLogged/UserLogged') %>
			</div>
			<main >

			</main>
	</body>
</html>
