<section class='CardProduct'>
    <picture class='CardProductHead'>
        <img src='/img/products/headset.jpeg' alt='glasesVR' title='glasesVR'>
    </picture>
    <div class='CardProductBody'>
        <div class='CardProductBodyText'>
            <span>Headset 3000x Pro Ultra</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod... </p>
        </div>
        <div class='CardProductBodyPrice'>
            <span>$1,000.00</span>
            <button>Añadir al carrito</button>
        </div>
    </div>
</section>
