.Header {
	background: var(--bg-dark);
	inline-size: 100vw;
	block-size: 100%;
	position: sticky;
	top: 0;
	z-index: 2;
}
.HeaderContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	block-size: 5em;
}
.OpenMenuToggle {
	color: var(--icon-color);
	font-size: 2em;
}
