<!DOCTYPE html>
<html lang="en">
<%- include('../partials/Head') %>

  <body class="adminCreateBody">
    <%- include('../partials/HeaderClient') %>

      <main class="adminCreateMain">
        <aside class="administratorInformation">
          <a href="">
            <h2 class="subtituloH2Small">Administradora</h2>
          </a>
          <article class="adminInfo">
            <div class="adminProfile">
              <picture> <img src="/img/Ellipse9.png" alt="" /></picture>
              <h3 class="subtituloH3">Patricia Ochoa</h3>
            </div>
            <div class="adminSideOptions">
              <div>
                <i class="fas fa-file-invoice"></i>
                <span>Productos</span>
              </div>
              <div>
                <i class="fas fa-trash-alt"></i>
                <span>Eliminar Productos</span>
              </div>
          </article>
        </aside>
        <section class="adminProductInformation">
          <%- include("./allProductStock") %>
            <article class="adminSearchProducts">
              <input type="text" placeholder="Search" />
              <button class="adminSearchButton">Buscar</button>
            </article>
            <article class="adminListOptions">
              <div class="adminFilterProduct">
                <div>
                  <span>Todo</span>
                  <i class="fas fa-angle-down"></i>
                </div>
                <div>
                  <span>Todas las marcas</span>
                  <i class="fas fa-angle-down"></i>
                </div>
              </div>
              <i class="fas fa-list"></i>
            </article>
            <%- include("./adminListStock") %>
        </section>
      </main>
  </body>

</html>