<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./components/header/Header') %>

    <main class="main about">
      <section class="descripcion wrapper">
        <h2 class="subtitulo">¿Quiénes somos?</h2>
        <p>
          We are here to provide a special place for electronic devices.
          Although we have only operated for 2 years, we always provide the best
          service for customers and all the sellers who use our website. With
          the hope that it can help improve life using various electronic goods
          with the latest technology, we are all ears to any suggestion from our
          dear customers
        </p>
      </section>
      <section class="imagen-banner wrapper">
        <picture>
          <img src="/img/banner-1.png" alt="" />
        </picture>
      </section>
      <section class="our-team wrapper">
        <article class="descripcion">
          <h2 class="subtitulo">Nuestro Equipo</h2>
          <p>
            Somos estudiantes de desarrollo web FullStack en Digital House y con
            el apoyo de Protalento.
          </p>
        </article>
        <article class="our-team-cards">
          <article class="card-employee">
            <picture>
              <img
                src="/img/Jennifer.png"
                class="card-head"
                alt="Jennifer Perez Romero"
                title="Jennifer Perez Romero"
              />
            </picture>
            <div class="card-foot">
              <span class="name">Jennifer Pérez Romero</span>
              <span class="job-title"
                >Desarrolladora FullStack & Legal Counsel</span
              >
            </div>
          </article>
        </article>
      </section>
    </main>
    <%- include('./partials/Footer') %>
  </body>
</html>
