<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/Head') %>

  <body class="agree-body">
    <%- include('./partials/HeaderClient') %>

    <main class="main wrapper agree-main">
      <h3 class="subtituloH3">
        Autorización de tratamiento de datos personales para el uso de nuestro
        sitio web
      </h3>
      <section class="agree-content">
        <article class="first-agree">
          <p>
            Ten presente que al hacer click en el cuadrito y aceptar nuestra
            política de privacidad y tratamiento de datos estas autorizando a
            WeCol S.A.S., conforme a la ley 1581 de 2012 y el Decreto Nacional
            1377 de 2013 y todas aquellas normas que los modificaren,
            adicionaren o derogaren, para que podamos: i) Realizar la venta de
            los productos, sus respectivas transacciones o pagos y posterior
            envío a petición tuya; ii) Mejorar y desarrollar la calidad de
            experiencia de tu compra en nuestro sitio web; iii) Mejorar la
            calidad de nuestros productos conforme a tus necesidades y
            experiencia personal en nuestro sitio web; iv) Procesar, registrar y
            responder las solicitudes, peticiones, quejas, reclamos, sugerencias
            o felicitaciones que realizaste por medio de nuestro sitio web y v)
            Los utilicemos con fines promocionales, de publicidad de nuestros
            productos y las posibles ofertas a lugar.
          </p>
        </article>
        <article class="second-agree">
          <p>
            Del mismo modo, te informamos que: i) Tienes derecho a acceder,
            actualizar, ratificar, corregir y tener confidencialidad sobre tu
            información personal o datos suministrados de forma gratuita; ii)
            Puedes solicitarnos a través del correo wecoltecuida@wecol.com.co
            que dejemos de enviarte publicidad, promociones u ofertas sobre
            nuestros productos o suprimir total o parcialmente tus datos y no
            autorizar que usemos tus datos para una o varias de finalidades;
            iii) Puedes solicitarnos prueba de tu autorización para el
            tratamiento de tus datos por parte de WeCol y ser informado respecto
            del uso que hemos dado de los mismos. También, puedes presentar
            quejas o reclamos ante la autoridad competente en caso de no estar
            de acuerdo en toda o parte de nuestra política de datos o el uso que
            le hemos dado a tu información personal y iv) Tienes todos los
            derechos mencionados por las leyes que regulan los tratamientos de
            datos, aquellas que las modificares o adicionaren.
          </p>
          <p>
            Te invitamos a estar informado y a conocer nuestra política de
            privacidad, la cual es publica y se encuentra en nuestra página web.
            Puedes consultarla dando click al siguiente aquí Política de
            Privacidad y Tratamiento de Datos.
          </p>
        </article>
        <article class="three-agree">
          <p>
            Igualmente ten en cuenta las siguientes recomendaciones: i) No
            vendemos ni realizamos transacciones con menores de edad (-18) y,
            por ende, no estamos autorizados a usar o tratar sus datos. En caso
            de que por error estos hayan sido suministrados por el menor, su
            representante legal o cualquier tercero contáctanos al correo
            wecoltecuida@wecol.com.co para eliminar dicha información; ii)
            Nosotros no vendemos ni comercializamos tus datos, tampoco los
            transferimos o compartimos a personas diferentes de nuestros
            proveedores de servicios (Terceros que nos ayudan a brindarte un
            mejor servicio); iii) No te dejes engañar, si nosotros realizamos un
            cambio en nuestra política de atención o de privacidad, ofertas,
            promociones o premios, ofertas de trabajo u ofertas de cualquier
            índole, lo publicaremos por nuestros canales habituales (plataformas
            o correo) y siempre a través de nuestras cuentas verificadas y iv)
            Utilizamos “cookies” o “Web Beacons” y otras tecnologías de
            seguimiento para mejorar y personalizar tu experiencia en nuestro
            sitio web. Por ello, sabremos tus intereses, tu historial de
            navegación relacionado con nuestra plataforma, tus patrones de
            tráfico y tu comportamiento. Ahora bien, recuerda que puedes
            desactivar estas herramientas cuando así lo desees o desistir de tu
            suscripción a nuestros correos promocionales.
          </p>
        </article>
        <article class="fourth-agree">
          <p>
            Finalmente, si tienes dudas y deseas conocer más acerca de nuestra
            política de privacidad y tratamiento de datos o, por el contrario,
            ya no quieres continuar con nuestra suscripción de correos
            promocionales o que usemos tus datos personales contáctanos a través
            de:
          </p>
        </article>
        <article class="five-agree">
          <p>E-mail: wecoltecuida@wecol.com.co</p>
          <p>Teléfono: (+57) 320 459 1245</p>
        </article>
        <article class="six-agree">
          <p>
            De igual forma, te informamos que nuestro correo para solicitudes,
            quejas, reclamos, sugerencias o felicitaciones es
            atencionalcliente@wecol.com.co y que nuestro correo de
            notificaciones judiciales es notificacionesjudiciales@wecol.com.co.
          </p>
        </article>
      </section>
    </main>

    <%- include('./partials/Footer') %>
  </body>
</html>
