<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/Head') %>

  <body class="politics-body">
    <%- include('./partials/HeaderClient') %>

    <main class="main-politics wrapper">
      <picture class="hero-politics">
        <img src="/img/politics.svg" alt="" />
      </picture>
      <section class="description-main-politic">
        <p>
          WeCol S.A.S. está comprometido con el respeto de la privacidad de los
          visitantes de nuestra página web y las personas que se registren como
          usuarios para adquirir alguno de nuestros productos o para realizar
          consultas sobre los mismos. Por consiguiente, WeCol S.A.S. (en
          adelante WeCol) diseñó la presente Política de Privacidad, mediante la
          cual se establecen nuestras prácticas de privacidad y su alcance en
          relación con el uso de nuestro sitio web, así como las preferencias
          respecto del uso, acceso y corrección de información personal.
        </p>
        <p>
          En efecto, nuestros visitantes o usuarios podrán conocer como
          recolectamos su información personal y como controlar su uso. De igual
          forma, esta política describe todas las actividades tendientes a
          recolectar información de nuestro sitio web. Cabe resaltar que prestar
          tu consentimiento voluntario, expreso e informado a esta Declaración
          de Privacidad es un requisito fundamental para poder contratar y/o
          tener cualquier tipo de relación con WeCol.
        </p>
      </section>
      <section class="colect-informacion">
        <h3>¿Qué información recolectamos?</h3>
        <ul>
          <li>
            Tu nombre o seudónimo, tu foto (opcional: si lo quieres) y tu
            identificación.
          </li>
          <li>
            Tu información de contacto (número de teléfono, domicilio, dirección
            de e-mail y ubicación).
          </li>
          <li>Tus posibles vinculaciones entre cuentas y usuarios.</li>
          <li>
            Tus datos patrimoniales y financieros para realizar los pagos de los
            productos y tus medios de pago.
          </li>
          <li>
            Tu información transaccional y movimientos dentro de nuestras
            plataformas.
          </li>
          <li>
            La información de tu dispositivo mediante al que accedes y dirección
            IP.
          </li>
          <li>
            Tus preferencias respecto a tu actividad, ya sea como visitante o
            como usuario, dentro de nuestro sitio web.
          </li>
        </ul>
      </section>
      <section class="when-conlect-info">
        <h3>¿Cuándo recolectamos tus datos o información personal?</h3>
        <p>
          Queremos que tu experiencia en nuestra plataforma sea segura, por
          ello, te explicaremos cuando y en qué casos recolectamos tu
          información personal:
        </p>
        <ul>
          <li>
            Cuando te registras como usuario en nuestro sitio web para adquirir
            algún producto generas una información de contacto (nombre,
            teléfono, dirección, e-mail, entre otros) con el fin de realizar los
            trámites respectivos para la compra, el pago y la entrega de tu
            producto.
          </li>
          <li>
            Cuando navegas por nuestro sitio web a través de tu usuario
            registrado y realizas compras, consultas de productos o estableces
            preferencias respecto a la calificación de los mismos. Así mismo,
            cuando aceptas que te enviemos promociones o actualizaciones de
            nuestros productos a través de tu información de contacto.
          </li>
          <li>
            Cuando navegas por nuestro sitio web como visitante o usuario
            registrado, este puede recopilar tu información mediante alguna de
            sus herramientas. (Cookies, Web Beacons, etc) Igualmente, podemos
            recopilar las preferencias o características estándar de tu
            navegador. (Tipo de navegador, idioma, dirección IP, acciones
            realizadas en nuestra plataforma)
          </li>
        </ul>
      </section>
      <section class="for-what">
        <h3>¿Para qué usamos tus datos?</h3>
        <p>
          Principalmente utilizamos los datos personales o información de
          contacto para:
        </p>
        <ul>
          <li>
            Realizar la venta de los productos, sus respectivas transacciones o
            pagos y posterior envío a petición tuya.
          </li>
          <li>
            Mejorar y desarrollar la calidad de experiencia de tu compra en
            nuestro sitio web.
          </li>
          <li>
            Mejorar la calidad de nuestros productos conforme a tus necesidades
            y experiencia personal en nuestro sitio web.
          </li>
          <li>
            Procesar, registrar y responder las solicitudes, peticiones, quejas,
            reclamos, sugerencias o felicitaciones que realizaste por medio de
            nuestro sitio web.
          </li>
          <li>
            Con fines promocionales, de publicidad de nuestros productos y las
            posibles ofertas a lugar.
          </li>
        </ul>
      </section>
      <section class="rights-about-your-info">
        <h3>
          ¿Cuáles son tus derechos respecto a la información que suministras?
        </h3>
        <p>
          Nos preocupamos por brindarte una excelente experiencia. En
          consecuencia, cuidamos de tu información personal y, además, te
          contamos que derechos tienes respecto de la misma.
        </p>
        <ul>
          <li>
            Tienes derecho a acceder, actualizar, ratificar, corregir y tener
            confidencialidad sobre tu información personal o datos suministrados
            de forma gratuita.
          </li>
          <li>
            Puedes solicitarnos a través del correo wecoltecuida@wecol.com.co
            que dejemos de enviarte publicidad, promociones u ofertas sobre
            nuestros productos o suprimir total o parcialmente tus datos y no
            autorizar que usemos tus datos para una o varias de finalidades.
          </li>
          <li>
            Puedes solicitarnos prueba de tu autorización para el tratamiento de
            tus datos por parte de WeCol y ser informado respecto del uso que
            hemos dado de los mismos. También, puedes presentar quejas o
            reclamos ante la autoridad competente en caso de no estar de acuerdo
            en toda o parte de nuestra política de datos o el uso que le hemos
            dado a tu información personal.
          </li>
        </ul>
      </section>
      <section class="considerations">
        <h3>Ten en cuenta que:</h3>
        <ul>
          <li>
            No vendemos ni realizamos transacciones con menores de edad (-18) y,
            por ende, no estamos autorizados a usar o tratar sus datos. En caso
            de que por error estos hayan sido suministrados por el menor, su
            representante legal o cualquier tercero contáctanos al correo
            wecoltecuida@wecol.com.co para eliminar dicha información.
          </li>
          <li>
            Nosotros no vendemos ni comercializamos tus datos, tampoco los
            transferimos o compartimos a personas diferentes de nuestros
            proveedores de servicios (Terceros que nos ayudan a brindarte un
            mejor servicio).
          </li>
          <li>
            No te dejes engañar, si nosotros realizamos un cambio en nuestra
            política de atención o de privacidad, ofertas, promociones o
            premios, ofertas de trabajo u ofertas de cualquier índole, lo
            publicaremos por nuestros canales habituales (plataformas o correo)
            y siempre a través de nuestras cuentas verificadas.
          </li>
          <li>
            Utilizamos “cookies” o “Web Beacons” y otras tecnologías de
            seguimiento para mejorar y personalizar tu experiencia en nuestro
            sitio web. Por ello, sabremos tus intereses, tu historial de
            navegación relacionado con nuestra plataforma, tus patrones de
            tráfico y tu comportamiento. Ahora bien, recuerda que puedes
            desactivar estas herramientas cuando así lo desees o desistir de tu
            suscripción a nuestros correos promocionales.
          </li>
        </ul>
      </section>
      <section class="contact-us">
        <h3>Contáctanos</h3>
        <p>
          Si tienes dudas y deseas conocer más acerca de nuestra política de
          privacidad y tratamiento de datos o, por el contrario, ya no quieres
          continuar con nuestra suscripción de correos promocionales o que
          usemos tus datos personales contáctanos a través de:
        </p>
        <p>
          <span>E-mail: wecoltecuida@wecol.com.co </span>
          <span>Teléfono: (+57) 320 459 1245</span>
        </p>
        <p>
          De igual forma, te informamos que nuestro correo para solicitudes,
          quejas, reclamos, sugerencias o felicitaciones es
          atencionalcliente@wecol.com.co y que nuestro correo de notificaciones
          judiciales es notificacionesjudiciales@wecol.com.co
        </p>
      </section>
    </main>

    <%- include('./partials/Footer') %>
  </body>
</html>
