<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/js/header.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/0b3eb0d831.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer class="footer">
      <article class="footer-head">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non optio
        quasi voluptas voluptate doloremque hic architecto eius reiciendis rerum
        at, maiores excepturi laudantium est! Harum quo ad corporis omnis
        praesentium. Minima, quia error sequi excepturi laudantium aliquid vel
        est aspernatur illum, sint, ullam nisi ipsa neque cum voluptate
        molestias ut facere dolore blanditiis fugit sed vitae? Itaque incidunt
        voluptatum repudiandae! Deserunt alias facere quas accusantium velit
        aperiam et qui blanditiis sint dignissimos, laboriosam a error adipisci
        repudiandae corrupti veniam ullam, soluta culpa fugit, atque minus.
        Obcaecati error quis odio quam! Praesentium dolorum porro dicta expedita
        accusantium quod! Nisi, quae eos asperiores unde, cumque autem sunt ipsa
        officia dolorum obcaecati dolores suscipit minus quos recusandae
        deserunt? Perferendis hic suscipit ipsam ullam. Velit, commodi quos?
        Quasi, suscipit tempore unde, perferendis quidem nihil fugit facere
        distinctio, architecto eaque eius ullam reprehenderit harum dolor id
        laborum. Nostrum placeat voluptate ducimus laborum atque molestiae
        culpa? Possimus, doloribus veritatis molestias aliquid odio recusandae
        ullam, optio laudantium quia magnam voluptates, inventore at similique
        id aperiam. Voluptatem excepturi quaerat maxime corrupti autem nihil
        necessitatibus nulla animi ducimus dolores. Iste quos dolorum, similique
        tempore rerum reiciendis fugiat libero adipisci natus aspernatur vel
        molestiae enim eaque molestias maiores et dolore magni exercitationem!
        Velit nostrum impedit enim repudiandae, porro amet illo? Excepturi,
        alias? Tempora, accusamus aliquam placeat sed facere minima doloribus ab
        soluta ducimus labore illum esse nemo temporibus. Molestiae recusandae
        laudantium magnam maiores veniam rerum possimus distinctio eveniet
        adipisci voluptate! Vitae iusto rerum eligendi amet reiciendis vero rem
        numquam facilis ducimus repellat dolores, voluptatem quaerat nam minima,
        dolorum accusamus aspernatur illum, sunt necessitatibus commodi
        obcaecati possimus architecto? Deserunt, enim magni? Aut sequi
        perferendis, fugiat aspernatur ipsa illo nisi distinctio, dolorem iste
        ad officiis at tenetur aliquid reiciendis. Quod similique neque
        nesciunt. Sunt suscipit eligendi sapiente repudiandae! Fugit deserunt
        aliquam cum! Ipsa, vel. Quos illo incidunt delectus obcaecati aliquid
        libero hic mollitia ducimus repellendus quidem, nobis culpa? Beatae
        quaerat debitis quasi ea, dolor tempora distinctio nostrum, quidem
        recusandae facilis, voluptatum veniam! Mollitia unde aut nam quam, et
        accusamus laborum voluptatibus id suscipit sunt iure perferendis!
        Sapiente quasi distinctio ea ab beatae vel, quis pariatur in. Et, atque
        nesciunt. Quas, sed itaque. Sapiente rem odit qui voluptas obcaecati.
        Repudiandae ullam nam veritatis voluptatibus architecto quos. Non
        eligendi cumque excepturi fugiat, ipsum, cum fuga eum deleniti inventore
        vel optio atque quod? Sunt, excepturi! Animi totam tempore molestiae
        similique deserunt tempora voluptas maiores aut et consequatur ex
        adipisci eum nesciunt quaerat itaque, eveniet cupiditate vel vero porro
        architecto nulla. Ea maiores consequatur repellendus itaque? Aliquid
        iusto voluptatum sint hic sed perspiciatis, repellendus aut at, eum
        accusamus nam doloremque cum eius sunt dolorem porro perferendis, omnis
        dolores minus. Accusamus harum inventore ea temporibus minima quia?
        Sapiente, modi quos, minima id vel corporis placeat ducimus autem,
        blanditiis pariatur magnam incidunt nobis excepturi perferendis rem
        repudiandae a eius distinctio accusamus quas iste debitis maiores
        obcaecati illo? Amet? Eos, sed aut veniam error tenetur non itaque
        commodi veritatis temporibus! Nobis quia sint magni maiores nostrum
        temporibus vel libero optio deserunt aliquid! Eius nesciunt in
        perferendis, optio culpa qui. Nam saepe nulla impedit, quibusdam at,
        eaque nostrum qui dignissimos autem magni voluptate, sequi dolorem
        nobis. Facilis nemo eaque minima hic repellendus exercitationem,
        molestias dolorum doloribus adipisci, ea est odit! Labore esse, nobis
        earum natus, nesciunt inventore officia aspernatur veritatis magni odio
        quo cum cupiditate qui aperiam iste vero voluptatem expedita rem dolorum
        commodi quidem necessitatibus dolores vitae. Debitis, cumque? Explicabo
        asperiores eligendi impedit sit nostrum, officiis soluta nam nobis unde
        magnam corrupti officia minus alias minima pariatur autem voluptatum
        vitae nemo molestiae tempore. Culpa enim placeat optio eos repellat.
      </article>
      <article class="footer-foot">
        <div class="made-for">
          Hecho con ❤️ por Checho, Jenni, Luis, Juli y Jhon
        </div>
        <div class="copiryght">
          Colombia 2022 - Todos los derechos reservados
        </div>
      </article>
    </footer>
  </body>
</html>
