<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="/js/header.js"></script>
    <script
      defer
      src="https://kit.fontawesome.com/0b3eb0d831.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer class="footer">
      <section class="wrapper">
        <article class="footer-head">
          <section class="logo-description">
            <a href="/" class="logo">
              <img src="/img/logo.svg" alt="wecol" title="wecol" />
            </a>
            <span class="description-company"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor.
            </span>
          </section>
          <section class="info-section">
            <section class="company">
              <h6 class="footer-titulo">Empresa</h6>
              <nav>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/quienesSomos">Quiénes Somos</a></li>
                  <li><a href="contactenos">Contáctenos</a></li>
                </ul>
              </nav>
            </section>
            <section class="info">
              <h6 class="footer-titulo">Información</h6>
              <ul>
                <li><a href="">Métodos de pago</a></li>
                <li><a href="">Política de Privacidad</a></li>
              </ul>
            </section>
            <section class="siguenos">
              <h6 class="footer-titulo">Siguenos</h6>
              <ul class="social">
                <li><a href="#"><i class="fab fa-instagram"></a></i></li>
                <li><a href="#"><i class="fab fa-twitter"></a></i></li>
                <li><a href="#"><i class="fab fa-facebook-square"></a></i></li>
              </ul>
            </section>
          </section>
        </article>
        <article class="footer-foot">
          <div class="made-for">
            Hecho con ❤️ por Checho, Jenni, Luis, Juli y Jhon
          </div>
          <div class="copyright">
            Colombia 2022 - Todos los derechos reservados
          </div>
        </article>
      </section>
    </footer>
  </body>
</html>
