<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>

<body>
    <a href="#openModal">Lanzar el modal</a>
    <a href="#openModal1">Lanzar el modal</a>

    <div id="openModal" class="modalDialog">
        <div class="modal-content">
            <a href="#close" title="Close" class="close">X</a>
            <h2>Mi modal</h2>
            <p>Este es un ejemplo de modal, creado gracias al poder de CSS3.</p>
            <p>Puedes hacer un montón de cosas aquí, como alertas o incluso crear un formulario de registro aquí mismo.
            </p>
        </div>
    </div>

    <div id="openModal1" class="modalDialog">
        <div class="modal-content">
            <a href="#close" title="Close" class="close">X</a>
            <h2>Mi modal 01</h2>
            <p>Este es un ejemplo de modal, creado gracias al poder de CSS3.</p>
            <p>Puedes hacer un montón de cosas aquí, como alertas o incluso crear un formulario de registro aquí mismo.
            </p>
        </div>
    </div>
</body>

</html>