<footer class="footer">
  <section class="wrapper">
    <article class="footer-head">
      <section class="logo-description">
        <%- include('../Logotipo/Logotipo') %>
        <span class="description-company"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </span>
      </section>
      <section class="info-section">
        <section class="company">
          <h6 class="footer-titulo">Empresa</h6>
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/quienesSomos">Quiénes Somos</a></li>
              <li><a href="contactenos">Contáctenos</a></li>
            </ul>
          </nav>
        </section>
        <section class="info">
          <h6 class="footer-titulo">Información</h6>
          <nav>
            <ul>
              <li><a href="">Métodos de pago</a></li>
              <li><a href="">Política de Privacidad</a></li>
            </ul>
          </nav>
        </section>
        <section class="siguenos">
          <h6 class="footer-titulo">Siguenos</h6>
          <ul class="social">
            <li>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
          </ul>
        </section>
      </section>
    </article>
    <article class="footer-foot">
      <div class="made-for">
        Hecho con ❤️ por Checho, Jenni y Luis
      </div>
      <div class="copyright">Colombia 2022 - Todos los derechos reservados</div>
    </article>
  </section>
</footer>
