<section class="adminListStock">
  <a href="#openModal">
    <button class="adminNewProduct">
      <span>Nuevo Producto</span>
    </button>
  </a>
  <article class="adminListEdit">
    <%products.forEach(prod =>{%>
      <div class="adminItem">
        <div class="adminEditImgProduct">
          <input type="checkbox" />
          <picture>
            <img src="<%=prod.image.img1%>" alt="" />
          </picture>
          <span><%=prod.name%></span>
        </div>
        <div class="adminEditDetail">
          <span>Disponible</span>
          <span>Cantidad</span>
          <span><%=prod.price%></span>
          <span>2 days ago</span>
        </div>
        <div class="adminEditTrash">
          <i class="fas fa-trash-alt"></i>
          <i class="fas fa-trash-alt"></i>
        </div>
      </div>
    <%})%>
  </article>
</section>