<section class="adminListStock">
  <article class="adminNewProduct">
    <i class="fas fa-file-medical"></i>
    <span>Nuevo</span>
  </article>
  <article class="adminListEdit">
    <div class="adminItem">
      <div class="adminEditImgProduct">
        <input type="checkbox" />
        <picture>
          <img src="./img/audifonosAdmin.png" alt="" />
        </picture>
        <span>Diadema</span>
      </div>
      <div class="adminEditDetail">
        <span>Disponible</span>
        <span>Cantidad</span>
        <span>50.000</span>
        <span>2 days ago</span>
      </div>
      <div class="adminEditTrash">
        <i class="fas fa-trash-alt"></i>
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
    <div class="adminItem">
      <div class="adminEditImgProduct">
        <input type="checkbox" />
        <picture>
          <img src="./img/audifonosAdmin.png" alt="" />
        </picture>
        <span>Diadema</span>
      </div>
      <div class="adminEditDetail">
        <span>Disponible</span>
        <span>Cantidad</span>
        <span>50.000</span>
        <span>2 days ago</span>
      </div>
      <div class="adminEditTrash">
        <i class="fas fa-trash-alt"></i>
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
    <div class="adminItem">
      <div class="adminEditImgProduct">
        <input type="checkbox" />
        <picture>
          <img src="./img/audifonosAdmin.png" alt="" />
        </picture>
        <span>Diadema</span>
      </div>
      <div class="adminEditDetail">
        <span>Disponible</span>
        <span>Cantidad</span>
        <span>50.000</span>
        <span>2 days ago</span>
      </div>
      <div class="adminEditTrash">
        <i class="fas fa-trash-alt"></i>
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
    <div class="adminItem">
      <div class="adminEditImgProduct">
        <input type="checkbox" />
        <picture>
          <img src="./img/audifonosAdmin.png" alt="" />
        </picture>
        <span>Diadema</span>
      </div>
      <div class="adminEditDetail">
        <span>Disponible</span>
        <span>Cantidad</span>
        <span>50.000</span>
        <span>2 days ago</span>
      </div>
      <div class="adminEditTrash">
        <i class="fas fa-trash-alt"></i>
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
    <div class="adminItem">
      <div class="adminEditImgProduct">
        <input type="checkbox" />
        <picture>
          <img src="./img/audifonosAdmin.png" alt="" />
        </picture>
        <span>Diadema</span>
      </div>
      <div class="adminEditDetail">
        <span>Disponible</span>
        <span>Cantidad</span>
        <span>50.000</span>
        <span>2 days ago</span>
      </div>
      <div class="adminEditTrash">
        <i class="fas fa-trash-alt"></i>
        <i class="fas fa-trash-alt"></i>
      </div>
    </div>
  </article>
</section>
