<header class="header">
  <section class="wrapper">
    <a href="/" class="logo">
      <div>
        <img src="/img/Logo.svg" alt="Wecol" title="Wecol" />
      </div>
    </a>
    <nav class="nav" id="nav">
      <article class="login">
        <span> Te damos la Bienvenida</span>
        <div class="btn-log">
          <a href="/login">
            <button class="btn-small btn-login">Iniciar Sesión</button>
          </a>
          <a href="/register">
            <button class="btn-small btn-register">Registrarse</button>
          </a>
        </div>
      </article>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/aboutUs">Quiénes Somos</a></li>
        <li><a href="/contact">Contáctanos</a></li>
      </ul>
    </nav>
    <article class="header-right">
      <button class="menu-toggle" id="menuToggle">
        <i class="fas fa-bars"></i>
      </button>
      <a href="/user/login" class="user">
        <i class="fas fa-user"></i>
      </a>
      <a href="/productCart">
        <i class="fas fa-shopping-cart"></i>
      </a>
    </article>
  </section>
</header>
