<div class="cantidad">
  <button id="disminuir" onclick="disminuir()">-</button>
  <input type="text" id="cantidad" value="0" />
  <button id="aumentar1" onclick="aumentar(event.target)">+</button>
</div>
