<div class="sliderContainer-global">
  <!--  sliderProduct vista principal-->
  <section class="sliderProduct-zoom">
    <div class="zoom-slider">

      <img src="<%=arrayImg[0] %>" class="img-remplazar" />
    </div>
  </section>
  <main class="containerrReferencia-goblal">
    <!--felcha desplazo anterior-->
    <div class="arrow-sliderProcut">
      <i class="fas fa-angle-left flecha activo"></i>
    </div>

    <!--contenedor sliderproduct vistas de referencias-->
    <section class="containers-Slider">
      <section class="slidersProduct-Detail">
        <!--vistas de referencias -->
          <%let cont=0;%>
          
          <%for(let i=0;i<arrayImg.length;i++){%>
          <%if(cont%3==0){%>
            <article class="slidersProduct-ref">
              <div class="imgSlider-product">
                <img
                  src="<%=arrayImg[i] %>"
                  class="img-slider-principal img-activa"
                />
              </div>
          <%} else{%>
          <div class="imgSlider-product">
            <img
              src="<%=arrayImg[i] %>"
              class="img-slider-principal img-activa"
            />
          </div>
          <%}%>
          <%if(cont==2 || cont==5){%>
              </article>
          <%}%>
          <% cont+=1%>
          <%}%>
      </section>
    </section>
    <!--flecha desplazo siguiente-->
    <div class="arrow-sliderProcut">
      <i class="fas fa-angle-right flecha"></i>
    </div>
  </main>
</div>

