
<div class="sliderDetail">
  <span><i class="fas fa-angle-left"></i></span>
  <img src="/img/referenciaDetail.png" alt="" />
  <img src="/img/detalle2.png" alt="" />
  <img src="/img/detalle3.png" alt="" />
  <span><i class="fas fa-angle-right"></i></span>
</div>
