<div class="slider">
<div class="sliderDetail">
  <img src="/img/referenciaDetail.png" alt="" />
  <img src="/img/detalle2.png" alt="" />
  <img src="/img/detalle3.png" alt="" />
</div>
</div>
<!-- <span><i class="fas fa-angle-right"></i></span>
  <span><i class="fas fa-angle-left"></i></span>
-->