.newsLater {
  background-color: var(--secondary10);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  padding-block: 40px;
}

.newsLater i {
  font-size: 72px;
  color: var(--white);
}
.newsLater .updates {
  color: var(--white);
  text-align: center;
}
.newsLater .updates h2 {
  font: var(--subtituloH2);
}
.e-mail {
  position: relative;
  display: flex;
  align-items: center;
}
.e-mail input {
  padding: 16px 14px;
  inline-size: 300px;
  border-radius: 4px;
  border: none;
  outline-color: var(--secondary10);
}

.e-mail .btn-enviar {
  position: absolute;
  right: 8px;
  font: var(--btn-small);
  background-color: var(--secondary);
  border: none;
  color: var(--white);
  padding: 12px 16px;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .newsLater {
    flex-direction: row;
  }
}
