<div class="ap-menu border">
  <div class="ap-buscador">
    <div class="ap-buscador-titulo">
      <h3>BUSCAR PRODUCTOS</h3>
    </div>
    <div class="ap-buscador-contenedor">
      <%-include("./adminSearch") %>
      <br />
      <%# include("./adminFilter") %>
    </div>
  </div>
</div>
