<article class="allProductStock">
  <div>
    <p>50</p>
    <span>Inventario</span>
  </div>
  <div class="verticalLine"></div>
  <div>
    <p>05</p>
    <span>Marcas</span>
  </div>
  <div class="verticalLine"></div>
  <div>
    <p class="adminNumberStock">50.000.000</p>
    <span>Vendidos</span>
  </div>
</article>
