.MenuNavigation {
	display: flex;
	position: absolute;
	right: 0;
	background: var(--bg-dark);
	inline-size: 100%;
	transition: top .3s;
	top: -20em;
}
.MenuNavigation.Active {
	top: 5em;
}
.SubmenuItem summary {
	border: 1px solid red;
	color: var(--white);
}
.SubmenuItem ul {
	border: 1px solid green;
	padding-inline-start: 1.5em;
}
.SubmenuItem ul li a {
	color: var(--white);
}
