.menuItems {
	display: flex;
	gap: 32px;
}
.menuItems a {
	color: var(--white);
}
.submenuToggle {
	position: relative;
}
.submenuItem {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
}
.submenuItem i {
	color: var(--white);
}
.submenu {
	display: none;
	position: absolute;
	left: 0;
	top: 40px;
	background: var(--bg-dark);
	flex-direction: column;
	gap: 8px;
	inline-size: 150px;
	padding-block: 8px;
}
.submenu li {
	padding: 8px 24px;
	cursor: pointer;
}
.submenu li:hover {
	background: var(--secondary);
}
.show {
	display: flex;
}
#submenuItem_icon {
	transition: transform .3s;
}
.rotate {
	transform: rotate(90deg);
}