<header class="header">
    <section class="wrapper">
      <a href="/" class="logo">
        <img src="/img/Logo.svg" alt="Wecol" title="Wecol" />
      </a>
      <nav class="nav" id="nav">
        <ul>
          <li><a href="/product/adminProductMain">Volver a Administrador de Productos</a></li>
        </ul>
      </nav>
      <article class="header-right">
        <button class="menu-toggle" id="menuToggle">
          <i class="fas fa-bars"></i>
        </button>
        
      </article>
    </section>
  </header>
  