<div class="sliderContainer-global">
  <!--  sliderProduct vista principal-->
  <section class="sliderProduct-zoom">
    <div class="zoom-slider">
      <img src="" class="img-remplazar" />
    </div>
  </section>
  <main class="containerrReferencia-goblal">
    <!--felcha desplazo anterior-->
    <div class="arrow-sliderProcut">
      <i class="fas fa-angle-left flecha activo"></i>
    </div>

    <!--contenedor sliderproduct vistas de referencias-->
    <section class="containers-Slider">
      <section class="slidersProduct-Detail">
        <!--vistas de referencias -->
      </section>
    </section>
    <!--flecha desplazo siguiente-->
    <div class="arrow-sliderProcut">
      <i class="fas fa-angle-right flecha"></i>
    </div>
  </main>
</div>
