<section class="gallery">
    <div class="container">
        <div class="row">
            <div class="gallery-filter" id='gallery-filter'>
                <span class="filter-item" data-filter="all">all</span>
                <!--<span class="filter-item" data-filter="watch">Watch</span>
                <span class="filter-item" data-filter="headphone">headphone</span>
                <span class="filter-item" data-filter="camera">camera</span>
                <span class="filter-item" data-filter="phone">Phone</span>-->
            </div>
        </div>
    </div>
    <div class="row" id='row'>
    </div>
</section>
<script src='/js/Components/ProductsFilterCards/ProductsFilterCards.js'></script>h o
