<a href='' class='ButtonCreateProduct' id='ButtonCreate<%= locals.Button %>'>
    <i class='fas fa-plus'></i>
    <span>Crear <%= locals.ButtonAction %></span>
</a>

<script src='/js/Components/ButtonCreate/ButtonCreate.js'></script>
