<nav class="headerNav" id="nav">
  <article class="login">
    <span> Te damos la Bienvenida</span>
    <div class="btn-log">
      <a href="/login">
        <button class="btn-small btn-login">Iniciar Sesión</button>
      </a>
      <a href="/register">
        <button class="btn-small btn-register">Registrarse</button>
      </a>
    </div>
  </article>
  <ul class="menuItems">
    <li class="submenuToggle">
      <a class="submenuItem">
        <span>Categorías</span>
        <i class="fas fa-angle-down"></i>
      </a>
      <ul class="submenu">
        <li><a href="#">Enlace 2.1</a></li>
        <li><a href="#">Enlace 2.2</a></li>
        <li><a href="#">Enlace 2.3</a></li>
      </ul>
    </li>
    <li><a href="/aboutUs">Ofertas</a></li>
    <li><a href="/contact">PQRS</a></li>
  </ul>
	<article class="login">
		<span> Te damos la Bienvenida</span>
		<div class="btn-log">
			<a href="/login">
				<button class="btn-small btn-login">Iniciar Sesión</button>
			</a>
			<a href="/register">
				<button class="btn-small btn-register">Registrarse</button>
			</a>
		</div>
	</article>
	<ul class='menuItems'>
		<li class='submenuToggle'>
			<a class='submenuItem'>
				<span>Categorías</span>
				<i class="fas fa-angle-down"></i>
			</a>
			<ul class='submenu'>
				<li><a href="#">Enlace 2.1</a></li>
				<li><a href="#">Enlace 2.2</a></li>
				<li><a href="#">Enlace 2.3</a></li>
			</ul>
		</li>
		<li><a href="/aboutUs">Ofertas</a></li>
		<li><a href="/contact">PQRS</a></li>
	</ul>
</nav>
