<header class="header wrapperHeader">
    <a href="/" class="logo">
        <img src="/img/Logo.svg" alt="Wecol" title="Wecol" />
    </a>
    <% if (!locals.isLogged) { %> <%- include('./headerNav') %> <% } %>
    <article class="header-right">
      <a class="menu-toggle" id="menuToggle">
        <i class="fas fa-bars"></i>
      </a>
      <% if (locals.isLogged) { %> <%- include('../userLogged') %>
      <% } else { %>
      <a href="/login">
        <i class="fas fa-user"></i>
      </a>
      <% } %>
      <a href="/productCart">
        <i class="fas fa-shopping-cart"></i>
      </a>
    </article>
</header>