<section class="newsLater">
    <i class="fas fa-newspaper"></i>
    <article class="updates">
        <h2>Recibir actualizaciones</h2>
        <p>
            Registrese ahora y obtenga las últimas actualizaciones y
            promociones.
        </p>
    </article>
    <article class="e-mail">
        <input type="e-mail" placeholder="Ingrese su correo" />
        <button type="submit" class="btn-enviar">Enviar</button>
    </article>
</section>