<article class='FormAuthentication'>
    <picture>
        <img src='/img/favicon.svg' alt='Logo' title='Logo'>
    </picture>
    <form action='/login' method='POST' class='FormContainer'>
        <div class='FormContent'>
            <%- include('../LabelInput/LabelInput', { id: 'username', label: 'Usuario', type: 'email', name: 'email', placeholder: 'John Doe' }) %>
            <%- include('../LabelInput/LabelInput', { id: 'password', label: 'Contraseña', type: 'password', name: 'password', placeholder: 'Contraseña' }) %>
        </div>
        <%- include('../ButtonForm/ButtonForm', { name: 'Iniciar Sesión' }) %>
    </form>
</article>