  <%- include('../partials/Head') %>
<body>
  <%-include('../components/header/HeaderClient') %>

  <main>
    <section class="prueb">
      <div class="img-product">
        <picture>
          <img src="/img/referenciaDetail.png" alt="">
        </picture>
        <div class="slider">
          <button>
            < </button>
              <img src="/img/referenciaDetail.png" alt="">
              <img src="/img/detalle2.png" alt="">
              <img src="/img/detalle3.png" alt="">
              <button> > </button>
        </div>
      </div>
      <div class="det-product">
        <div id="dp-header">
          <label class="grey-word">Product > </label>
          <label class="yellow-word">Macbook Air 2021</label>
        </div>
        <div class="rate">
          <div class="punctuation">5.0</div>
          <span class="star-score">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <label class="grey-word">Opiniones(12) | vendido 99</label>
          </span>
        </div>
        <div class="main-name">
          <label class="f">Macbook Air 2021</label>
        </div>
        <div>
          <label class="d"><u>$6.800.000</u></label>
        </div>
        <div class="dp-descripcion">
          <i class="fas fa-truck"></i>
          <label class="etiqueta-blanca">Envío gratis</label>
          <i class="fas fa-shopping-cart" id="camion"></i>
          <label class="etiqueta-blanca">En stock</label>
        </div>
        <div>
          <hr>
        </div>
        <section class="aboutProduct">
          <h3>Descripción</h3>
          <p>Nuestra notebook más ligera y delgada vuelve completamente renovada por dentro. Gracias al chip M1 de
            Apple, el CPU es hasta 3.5 veces más rápido y el GPU hasta 5 veces más veloz.</p>
        </section>
        <div>
          <label>Cantidad</label>
          <article class="detailProductCard">
            <div class="productOption">
              <div class="cantidad">
                <button id="disminuir" onclick="disminuir()">-</button>
                <input type="text" id="cantidad" value="0" />
                <button id="aumentar1" onclick="aumentar(event.target)">
                  +
                </button>
              </div>
            </div>
          </article>

          <button class="btn-add-cart">
            <span>Añadir al carrito</span>
            <a href="/productCart">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </button>
        </div>
      </div>

    </section>

  </main>
  <section>
    <div class="hiper">
      <a class="enlaces" href="/productDet">Opiniones</a>
      <a class="enlaces" href="/productDetDesc">Descripción</a>
      <a class="enlaces" href="/productDetTec">Detalles Técnicos</a>
    </div>
    <div class="qa">
      <input class="question" type="text" placeholder="Agregar opinion o pregunta">
      <button>Comentar</button>
    </div>
    <div class="opinions">
      <div class="opinion">
        <p>
          Buenas tardes. ¿Tienen en color gris espacial?
        </p>
        <p class="desc">* Hola, si lo puedes pedir en gris espacial.</p>
      </div>
      <div class="opinion">
        <p>
          Amigo depronto manejas Macbook air de 16gb - 256?
        </p>
        <p class="desc">* Hola, el AIR de 16GB RAM - 256GB no lo manejamos, solo version PRO.</p>
      </div>
      <div class="opinion">
        <p>
          Tienes disponibilidad inmediata ?
        </p>
        <p class="desc">*  Hola, si tenemos una unidad para entrega inmediata.</p>
      </div>
      <div class="opinion">
        <p>
          Hola, es posible que venga con teclado de fábrica en español ?
        </p>
        <p class="desc">* Hola, al momento no es posible.</p>
      </div>
      <div class="opinion">
        <p>
          Hola buen día. ¿el tema de garantía como se maneja?
        </p>
        <p class="desc">* dado si algo me llegará a fallar a dónde lo podría llevar aquí en Colombia?, ya que entiendo estos vienen de manera importada.
          Hola, la garantía de Apple es global funciona de manera global, en Colombia te funciona sin problema en cualquier centro de Servicio técnico Apple en el país.
          </p>
      </div>
    </div>

  </section>
  <section>
    <section class="ofers wrapper">
      <h2 class="subtituloH2 gray">Productos en Oferta</h2>
      <article class="ofers-cards">
        <div class="card-off">
          <picture class="card-img">
            <img src="/img/recomended.png" alt="earphone" title="earphone" />
            <span>25% OFF</span>
          </picture>
          <div class="card-off-description">
            <span class="product-name">AirPods</span>
            <span class="product-price">
              <div class="real-price">$2.650.000</div>
              <i>-</i>
              <div class="current-price">$1.897.500</div>
            </span>
            <div class="available">
              <span class="available-quantity">
                <p>Disponibles: 5</p>
                <p>Vendidos: 2</p>
              </span>
              <button class="progress-quantity"></button>
            </div>
          </div>
        </div>
        <div class="card-off">
          <picture class="card-img">
            <img src="/img/recomended.png" alt="earphone" title="earphone" />
            <span>25% OFF</span>
          </picture>
          <div class="card-off-description">
            <span class="product-name">AirPods</span>
            <span class="product-price">
              <div class="real-price">$2.650.000</div>
              <i>-</i>
              <div class="current-price">$1.897.500</div>
            </span>
            <div class="available">
              <span class="available-quantity">
                <p>Disponibles: 5</p>
                <p>Vendidos: 2</p>
              </span>
              <button class="progress-quantity"></button>
            </div>
          </div>
        </div>
        <div class="card-off">
          <picture class="card-img">
            <img src="/img/recomended.png" alt="earphone" title="earphone" />
            <span>25% OFF</span>
          </picture>
          <div class="card-off-description">
            <span class="product-name">AirPods</span>
            <span class="product-price">
              <div class="real-price">$2.650.000</div>
              <i>-</i>
              <div class="current-price">$1.897.500</div>
            </span>
            <div class="available">
              <span class="available-quantity">
                <p>Disponibles: 5</p>
                <p>Vendidos: 2</p>
              </span>
              <button class="progress-quantity"></button>
            </div>
          </div>
        </div>
        <div class="card-off">
          <picture class="card-img">
            <img src="/img/recomended.png" alt="earphone" title="earphone" />
            <span>25% OFF</span>
          </picture>
          <div class="card-off-description">
            <span class="product-name">AirPods</span>
            <span class="product-price">
              <div class="real-price">$2.650.000</div>
              <i>-</i>
              <div class="current-price">$1.897.500</div>
            </span>
            <div class="available">
              <span class="available-quantity">
                <p>Disponibles: 5</p>
                <p>Vendidos: 2</p>
              </span>
              <button class="progress-quantity"></button>
            </div>
          </div>
        </div>
        <div class="card-off">
          <picture class="card-img">
            <img src="/img/recomended.png" alt="earphone" title="earphone" />
            <span>25% OFF</span>
          </picture>
          <div class="card-off-description">
            <span class="product-name">AirPods</span>
            <span class="product-price">
              <div class="real-price">$2.650.000</div>
              <i>-</i>
              <div class="current-price">$1.897.500</div>
            </span>
            <div class="available">
              <span class="available-quantity">
                <p>Disponibles: 5</p>
                <p>Vendidos: 2</p>
              </span>
              <button class="progress-quantity"></button>
            </div>
          </div>
        </div>
        <div class="card-off">
          <picture class="card-img">
            <img src="/img/recomended.png" alt="earphone" title="earphone" />
            <span>25% OFF</span>
          </picture>
          <div class="card-off-description">
            <span class="product-name">AirPods</span>
            <span class="product-price">
              <div class="real-price">$2.650.000</div>
              <i>-</i>
              <div class="current-price">$1.897.500</div>
            </span>
            <div class="available">
              <span class="available-quantity">
                <p>Disponibles: 5</p>
                <p>Vendidos: 2</p>
              </span>
              <button class="progress-quantity"></button>
            </div>
          </div>
        </div>
        <div class="card-off">
          <picture class="card-img">
            <img src="/img/recomended.png" alt="earphone" title="earphone" />
            <span>25% OFF</span>
          </picture>
          <div class="card-off-description">
            <span class="product-name">AirPods</span>
            <span class="product-price">
              <div class="real-price">$2.650.000</div>
              <i>-</i>
              <div class="current-price">$1.897.500</div>
            </span>
            <div class="available">
              <span class="available-quantity">
                <p>Disponibles: 5</p>
                <p>Vendidos: 2</p>
              </span>
              <button class="progress-quantity"></button>
            </div>
          </div>
        </div>
        <div class="card-off">
          <picture class="card-img">
            <img src="/img/recomended.png" alt="earphone" title="earphone" />
            <span>25% OFF</span>
          </picture>
          <div class="card-off-description">
            <span class="product-name">AirPods</span>
            <span class="product-price">
              <div class="real-price">$2.650.000</div>
              <i>-</i>
              <div class="current-price">$1.897.500</div>
            </span>
            <div class="available">
              <span class="available-quantity">
                <p>Disponibles: 5</p>
                <p>Vendidos: 2</p>
              </span>
              <button class="progress-quantity"></button>
            </div>
          </div>
        </div>
  </section>
  </section>

    <%- include('../partials/Footer') %>

  <script>
    function aumentar() {
      let cambioDeValor = parseInt(document.getElementById("cantidad").value);
      ++cambioDeValor; //cambioDeValor += 1;  //cambioDeValor + 1;
      document.getElementById("cantidad").value = cambioDeValor;
    }
    function disminuir() {
      let cambioDeValor = parseInt(document.getElementById("cantidad").value);
      if (cambioDeValor > 0) {
        --cambioDeValor; //cambioDeValor -= 1;  //cambioDeValor - 1;
      }
      document.getElementById("cantidad").value = cambioDeValor;
    }
  </script>
</body>
