<header class="Header wrapper">
  <section class="HeaderContainer">
    <%- include('../Logotipo/Logotipo') %>
    <!-- adaptar  en el diseño datos del usuario  -->
    <!-- *********** -->
    <div class="CenterHead">
      <article class="ProfileAction">
        <% if (locals.isLogged) { %> <%-include('../UserLogged/UserLogged') %>
        <% } %>
      </article>
    </div>
    <div class="RightHead">
      <a href="/product/cart">
        <i
          class="fa-solid fa-cart-shopping"
          style="color: rgb(244, 247, 247)"
        ></i>
      </a>
      <a class="OpenMenuToggle" id="OpenMenuToggle">
        <i class="fa-solid fa-grip"></i>
      </a>
    </div>
    <!-- ********** -->
    <nav class="MenuNavigation" id="MenuNavigation">
      <%- include('../HeaderNav/HeaderNav') %>
    </nav>
  </section>
</header>
<script src="/js/Components/Header/Header.js"></script>
