<header class="Header wrapper">
  <section class="HeaderContainer">
    <%- include('../Logotipo/Logotipo') %>
    <a class="OpenMenuToggle" id="OpenMenuToggle">
      <i class="fas fa-bars"></i>
    </a>
    <nav class="MenuNavigation" id="MenuNavigation">
      <%- include('../HeaderNav/HeaderNav') %>
    </nav>
  </section>
</header>
<script src="/js/Components/Header/Header.js"></script>
