<header class="Header">
  <section class='HeaderContainer wrapper'>
    <a href="/" class="logo">
      <img src="/img/Logo.svg" alt="Logo WeCol" title="Logo WeCol" />
    </a>
    <% if (!locals.isLogged) { %> <%- include('../HeaderNav/HeaderNav') %> <% } %>
    <article class="ProfileAction">
      <div class='ProfileAction_Header'>
        <picture>
          <img src='' alt=''/>
        </picture>
      </div>

      <a class="menu-toggle" id="menuToggle">
        <i class="fas fa-bars"></i>
      </a>
      <% if (locals.isLogged) { %> <%- include('../UserLogged/UserLogged') %> <% } else { %>
        <a href="/login">
          <i class="fas fa-user"></i>
        </a>
      <% } %>
      <a href="/productCart">
        <i class="fas fa-shopping-cart"></i>
      </a>
    </article>
  </section>
</header>
