<!doctype html>
<html lang='es'>
    <%- include('../../Components/Head/Head') %>
    <body>
        <%- include('../../Components/Header/Header') %>
        <div class="Login wrapper">
            <%- include('../../Components/FormAuthenticationLogin/FormAuthenticationLogin') %>
        </div>
        <%- include('../../Components/Footer/Footer') %>
    </body>
</html>