<section class='BrandsContent'>
    <article class='BrandsContentHead'>
        <span>Trabajamos con las siguientes marcas</span>
    </article>
    <article class='BrandsList' id='BrandsList'>
    </article>
</section>
<script src='/js/Components/BrandsList/BrandsList.js'></script>
