<article class='sections-form' id='sectionsForm'>
	<a href='/login' id='login'>Iniciar Sesión</a>
	<a href='/register' id='register'>Registrarse</a>
</article>
<script defer src='/js/components/sectionsForm.js'></script>
