<article class='userLogged'>
    <a href="/login" class="userLogged_img">
        <img src='./Profile-users/<%= locals.userLogged.avatar %>' alt='' />
    </a>
    <a href='/admin' class='userLogged_fullName'>
        <span><%= locals.userLogged.name %> <%= locals.userLogged.lastname %></span>
    </a>
</article>